<table>
    <thead>
        <th>N.</th>
        <th>Title</th>
        <th>Description</th>
        <th>Operations</th>
    </thead>
    <tbody>
        {{#each tasks}}
        <tr>
            <td>{{@index}}</td>
            <td>{{title}}</td>
            <td>{{description}}</td>
            <td>
                {{#if done}}
                    <a href="/task/{{_id}}/toggleDone">✅</a>
                {{else}}
                    <a href="/task/{{_id}}/toggleDone">❌</a>
                {{/if}}
                <a href="/task/{{_id}}/delete">Delete</a>
                <a href="/task/{{_id}}/edit">Edit</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>











<ul>

</ul>